[Unit]
Description=Chain filler
After=network.target
[Service]
ExecStart=/bin/sh -c "/home/ec2-user/chainfiller.sh > /home/ec2-user/chainfiller.log &"
Type=forking
[Install]
WantedBy=default.target
